<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>PerfectPizza</title>
  <link rel="stylesheet" href="./style.css">
</head>

<body>
  <div>
    <div class="header" >
      <h1>Pizza Place</h1>
    </div>

    <div class="cartTotal " >
      <strong>Total price</strong>  
      <span class="cartTotalPrice">R {{TotalAmount}}</span>
      <a href="#">
        <img src="shopping-cart.png" alt="">
      </a>
    </div>


    <div class="cart" >
      <h3>Shopping Cart</h3>
      <img src="shopping-cart.png" alt="">

        <table>
          {{#each ShoppingList}}
          <tr>
            <td><strong>{{sizeType}} pizzas total:</strong></td>
            <td><span class="smallTotalPrice">{{quantiy}}</span></td>
            <td><span class="smallTotalPrice">R {{amount}}</span></td>
          </tr>
          {{/each}}
          <tr>
            <td><strong>Total price</strong></td>
            <td><span class="totalPrice">R {{TotalAmount}}</span></td>
          </tr>
        </table>
      <div class="odered-list">
        <form action="/addToCart" method="POST"><button class="btn order" type="submit" style="margin-left: auto">Order</button></form>
      
      </div>
    </div>  

    
    <div class="pizzas">
      {{#each Pizza}}
      <form action="/pizzas/{{sizeType}}" method="POST">
      <div class="{{class}}">
        <div class="info">
          <img src="{{img}}"
            alt="">
          <h2>{{sizeType}}</h2>
          <strong>R {{price}}</strong>

          <div>
            {{Description}}
          </div>
        </div>

        <div class="orderBox">
          {{!-- <input type="submit" class="btn orderMediumPizza" value="Order medium pizza"> --}}
          <button class="btn orderMediumPizza" type="submit" style="margin-left: auto">Order medium pizza</button>
        </div>

      </div>
      </form>
      {{/each}}
    </div>
    <div class="footer">
      <div class="contact">
        
      </div>
      
    </div>
  </div>
</body>
<script src="order-pizza.js"></script>
<script src="pizza.js"></script>

<hr>


<div>

  <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>


</div>


</html>
</html>